<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <div class="col-4 offset-4 text-center">

        <h1>Intro Flask</h1>
        <ul class="text-left">
            <li><a href="{{ url_for('ex1') }}" target="_blank">Ex1: hello world</a></li>
            <li><a href="{{ url_for('ex2') }}" target="_blank">Ex2: hello world + CSS</a></li>
            <li><a href="{{ url_for('ex31')}}" target="_blank">Ex3: 2 pages + link</a></li>
            <li><a href="{{ url_for('ex4') }}" target="_blank">Ex4: Form + welcome</a></li>
            <li><a href="{{ url_for('ex5') }}" target="_blank">Ex5: Form + write in db</a></li>
            <li><a href="{{ url_for('ex6') }}" target="_blank">Ex6: Read db</a></li>
            <li><a href="{{ url_for('ex7') }}" target="_blank">Ex7: simple auth + read csv</a></li>
            <li><a href="{{ url_for('ex8') }}" target="_blank">Ex8: Image prediction</a></li>
        </ul>
    </div>
</body>
</html>